absl-py==0.9.0
astor==0.8.1
boto==2.49.0
boto3==1.10.4
botocore==1.13.4
certifi==2022.12.7
chardet==3.0.4
ckiptagger==0.1.0
deepctr==0.8.0
docutils==0.15.2
filelock==3.0.12
gast==0.2.2
gdown==3.8.3
gensim==3.8.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
jmespath==0.9.4
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lightfm==1.15
Markdown==3.1.1
mysql-connector==2.2.9
numpy==1.17.2
opt-einsum==3.1.0
pandas==0.25.1
protobuf==3.11.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.22.1
scipy==1.3.1
six==1.12.0
smart-open==1.8.4
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tqdm==4.41.0
urllib3==1.25.6
Werkzeug==0.16.0
wrapt==1.11.2
zhon==1.1.5
